In [1]:
import pandas as pd
import numpy as np
import copy

In [2]:
%run generate_structure_sites.py
%run read_lat.py

In [3]:
unit_lattice, unit_sites = read_lat()

In [4]:
unit_lattice

{'a': 13.675,
 'alpha': 90.0,
 'b': 13.675,
 'beta': 90.0,
 'c': 14.767,
 'gamma': 120.0,
 'u': [1, 0, 0],
 'v': [0, 1, 0],
 'w': [0, 0, 1]}

In [5]:
unit_sites.head()

          a         b         c   atom
0  0.666967  0.106933  0.228233  Si,Al
0  0.893067  0.560033  0.228233  Si,Al
0  0.666967  0.560033  0.228233  Si,Al
0  0.439967  0.333033  0.228233  Si,Al
0  0.568667  0.137333  0.456033      O

In [6]:
file = open('test/str_req.txt', 'r')
str_req = file.readlines()

structure_u = [int(number) for number in str_req[0].split()]
structure_v = [int(number) for number in str_req[1].split()]
structure_w = [int(number) for number in str_req[2].split()]

min_distance = float(str_req[4].split()[0])

nu = int(np.mean(structure_u)/np.mean(unit_lattice['u']))
nv = int(np.mean(structure_v)/np.mean(unit_lattice['v']))
nw = int(np.mean(structure_w)/np.mean(unit_lattice['w']))
n_unit = nu * nv * nw

In [7]:
important_unit_sites =  unit_sites[unit_sites['atom']!='O']
structure_sites = pd.DataFrame(columns=unit_sites.columns)
for i in range(0, nu):
    for j in range(0, nv):
        for k in range(0, nw):
            sites = pd.DataFrame(columns=important_unit_sites.columns)
            delta = list(np.array(unit_lattice['u'])*i + np.array(unit_lattice['v'])*j + np.array(unit_lattice['w'])*k)
            sites['a'] = important_unit_sites.a + delta[0]
            sites['b'] = important_unit_sites.b + delta[1]
            sites['c'] = important_unit_sites.c + delta[2]
            sites['atom'] = important_unit_sites.atom
            structure_sites = structure_sites.append(sites)

In [8]:
structure_sites.reset_index(drop=True, inplace=True)

In [9]:
structure_sites['site_index'] = structure_sites.index

In [10]:
extend_sites_a = copy.deepcopy(structure_sites)
extend_sites_b = copy.deepcopy(structure_sites)
extend_sites_c = copy.deepcopy(structure_sites)

In [11]:
delta = list(np.array(structure_u) + np.array(structure_v) + np.array(structure_w))

In [12]:
extend_sites_a['a'] = structure_sites['a']+ delta[0]
extend_sites_b['b'] = structure_sites['a'] + delta[1]
extend_sites_c['c'] = structure_sites['a'] + delta[2]

In [13]:
structure_sites.head()

          a         b         c   atom  site_index
0  0.666967  0.106933  0.228233  Si,Al           0
1  0.893067  0.560033  0.228233  Si,Al           1
2  0.666967  0.560033  0.228233  Si,Al           2
3  0.439967  0.333033  0.228233  Si,Al           3
4  0.666367  0.106633  0.438433  Si,Al           4

In [14]:
extend_sites = structure_sites.append(extend_sites_a).append(extend_sites_b).append(extend_sites_c)

In [15]:
extend_sites.reset_index(drop=True, inplace=True)

In [16]:
distance_matrix = distance.cdist(np.array(extend_sites[['a','b','c']]), np.array(extend_sites[['a','b','c']]), 'euclidean')
extend_sites['bad_sites'] = extend_sites.apply(lambda row: list(np.where((distance_matrix[row.name] < min_distance))[0]), axis=1)

In [17]:
extend_sites.tail()

,a,b,c,atom,site_index,bad_sites
1147,1.893367,1.333633,3.893367,"Si,Al",283,"[1015, 1029, 1032, 1035, 1051, 1065, 1068, 107..."
1148,1.560033,1.666967,3.560033,"Si,Al",284,"[1080, 1081, 1082, 1083, 1084, 1085, 1088, 109..."
1149,1.226700,1.226400,3.226700,"Si,Al",285,"[871, 907, 937, 949, 961, 967, 970, 973, 985, ..."
1150,1.893367,1.559733,3.893367,"Si,Al",286,"[1032, 1068, 1080, 1081, 1082, 1084, 1087, 109..."
1151,1.560033,1.893067,3.560033,"Si,Al",287,"[1081, 1082, 1083, 1085, 1088, 1090, 1091, 109..."

In [18]:
extend_sites['bad_sites'] = extend_sites.apply(lambda row: set([extend_sites.iloc[x].site_index for x in row.bad_sites]), axis = 1)

In [19]:
extend_sites.tail()

,a,b,c,atom,site_index,bad_sites
1147,1.893367,1.333633,3.893367,"Si,Al",283,"{256, 259, 265, 266, 268, 270, 273, 277, 151, ..."
1148,1.560033,1.666967,3.560033,"Si,Al",284,"{256, 257, 260, 262, 263, 264, 265, 266, 268, ..."
1149,1.226700,1.226400,3.226700,"Si,Al",285,"{257, 260, 133, 261, 7, 139, 267, 142, 271, 27..."
1150,1.893367,1.559733,3.893367,"Si,Al",286,"{256, 259, 265, 266, 268, 269, 270, 273, 276, ..."
1151,1.560033,1.893067,3.560033,"Si,Al",287,"{257, 260, 262, 263, 264, 266, 268, 269, 271, ..."

In [20]:
structure_sites.head()

          a         b         c   atom  site_index
0  0.666967  0.106933  0.228233  Si,Al           0
1  0.893067  0.560033  0.228233  Si,Al           1
2  0.666967  0.560033  0.228233  Si,Al           2
3  0.439967  0.333033  0.228233  Si,Al           3
4  0.666367  0.106633  0.438433  Si,Al           4

In [21]:
structure_sites = pd.merge(structure_sites, extend_sites, on=['a','b','c','atom','site_index'], how='left')

In [22]:
structure_sites.tail(20)

,a,b,c,atom,site_index,bad_sites
268,1.666367,1.559733,1.438433,"Si,Al",268,"{256, 257, 128, 259, 260, 131, 262, 263, 134, ..."
269,1.559733,1.893367,1.561567,"Si,Al",269,"{257, 260, 262, 263, 264, 134, 266, 268, 269, ..."
270,1.773600,1.000300,1.105100,"Si,Al",270,"{256, 6, 265, 138, 12, 141, 270, 271, 274, 20,..."
271,1.440267,1.333633,1.438433,"Si,Al",271,"{256, 257, 260, 133, 263, 265, 266, 139, 267, ..."
272,1.106933,1.666967,1.771767,"Si,Al",272,"{257, 258, 132, 260, 261, 135, 262, 263, 264, ..."
273,1.773600,1.773300,1.105100,"Si,Al",273,"{259, 134, 265, 266, 268, 269, 273, 277, 283, ..."
274,1.440267,1.106633,1.438433,"Si,Al",274,"{256, 257, 260, 133, 265, 266, 139, 267, 268, ..."
275,1.106933,1.439967,1.771767,"Si,Al",275,"{257, 258, 260, 261, 262, 135, 263, 264, 266, ..."
276,1.773300,1.999700,1.894900,"Si,Al",276,"{128, 262, 263, 264, 134, 266, 269, 114, 276, ..."
277,1.999700,1.226400,1.105100,"Si,Al",277,"{256, 130, 259, 6, 136, 265, 10, 137, 268, 12,..."
278,1.106633,1.666367,1.561567,"Si,Al",278,"{129, 257, 258, 132, 260, 261, 135, 262, 263, ..."
279,1.773300,1.773600,1.894900,"Si,Al",279,"{128, 257, 131, 262, 263, 264, 134, 266, 137, ..."
280,1.439967,1.106933,1.228233,"Si,Al",280,"{256, 260, 133, 265, 268, 270, 271, 274, 277, ..."
281,1.106633,1.440267,1.561567,"Si,Al",281,"{257, 258, 260, 133, 261, 135, 262, 263, 266, ..."
282,1.226700,1.000300,1.105100,"Si,Al",282,"{256, 133, 139, 270, 271, 274, 150, 24, 280, 1..."
283,1.893367,1.333633,1.438433,"Si,Al",283,"{256, 128, 130, 259, 260, 131, 134, 265, 266, ..."
284,1.560033,1.666967,1.771767,"Si,Al",284,"{128, 257, 258, 131, 260, 262, 263, 264, 134, ..."
285,1.226700,1.226400,1.105100,"Si,Al",285,"{256, 260, 133, 139, 142, 270, 271, 274, 150, ..."
286,1.893367,1.559733,1.438433,"Si,Al",286,"{256, 128, 259, 260, 131, 134, 265, 266, 137, ..."
287,1.560033,1.893067,1.771767,"Si,Al",287,"{128, 257, 258, 260, 262, 263, 264, 266, 268, ..."

In [23]:
available_sites = set(structure_sites.site_index)

In [25]:
Al_ratio = float(str_req[3].split()[0])

In [30]:
Al_number = int(Al_ratio*len(available_sites))

In [33]:
import random

In [34]:
site = random.sample(available_sites, 1)

In [31]:
selected_sites = []
for i in range(Al_number):
    site = random.sample(available_sites, 1)

28

In [ ]:
import random
random.sample(set([1, 2, 3, 4, 5, 6]), 2)