In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Chabazite_example_2.csv')

In [3]:
df

,CN,Elmt,Label,x,y,z,xor,yor,zor,d,[A]
0,[7],Al,T1,1.560033,1.893067,1.771767,15.22096,-18.47531,26.16368,NaN,NaN
1,NaN,Al,T1,1.560033,1.893067,1.771767,15.22096,-18.47531,26.16368,0.00000,NaN
2,NaN,Al,T1,1.560033,1.893067,1.771767,15.22096,-18.47531,26.16368,0.00000,NaN
3,NaN,Al,T1,1.773300,1.773600,1.894900,12.12904,-21.00101,27.98199,4.38695,NaN
4,NaN,Si,T1,1.333633,1.893367,1.561567,16.77307,-15.79408,23.05966,4.38554,NaN
5,NaN,Si,T1,1.559733,1.666367,1.561567,12.12288,-18.47176,23.05966,4.38555,NaN
6,NaN,Si,T1,1.559733,1.893367,1.561567,15.22711,-18.47176,23.05966,3.10403,NaN
7,NaN,Si,T1,1.773300,1.999700,1.894900,15.22096,-21.00101,27.98199,3.11214,NaN
8,NaN,Si,T1,1.773300,1.773600,1.894900,12.12904,-21.00101,27.98199,4.38695,NaN
9,NaN,Si,T1,1.560033,1.666967,1.771767,12.12904,-18.47531,26.16368,3.09192,NaN
10,NaN,Si,T1,1.560033,1.893067,1.771767,15.22096,-18.47531,26.16368,0.00000,NaN
11,NaN,Si,T1,1.333033,1.893067,1.771767,16.77307,-15.78698,26.16368,3.10422,NaN
12,NaN,Si,T1,1.333633,1.893367,1.561567,16.77307,-15.79408,23.05966,4.38554,NaN
13,NaN,Si,T1,1.559733,1.666367,1.561567,12.12288,-18.47176,23.05966,4.38555,NaN
14,NaN,Si,T1,1.559733,1.893367,1.561567,15.22711,-18.47176,23.05966,3.10403,NaN
15,NaN,Si,T1,1.773300,1.999700,1.894900,15.22096,-21.00101,27.98199,3.11214,NaN
16,NaN,Si,T1,1.773300,1.773600,1.894900,12.12904,-21.00101,27.98199,4.38695,NaN
17,NaN,Si,T1,1.560033,1.666967,1.771767,12.12904,-18.47531,26.16368,3.09192,NaN
18,NaN,Si,T1,1.560033,1.893067,1.771767,15.22096,-18.47531,26.16368,0.00000,NaN
19,NaN,Si,T1,1.333033,1.893067,1.771767,16.77307,-15.78698,26.16368,3.10422,NaN
20,NaN,Si,T1,1.333633,1.893367,1.561567,16.77307,-15.79408,23.05966,4.38554,NaN
21,NaN,Si,T1,1.559733,1.666367,1.561567,12.12288,-18.47176,23.05966,4.38555,NaN
22,NaN,Si,T1,1.559733,1.893367,1.561567,15.22711,-18.47176,23.05966,3.10403,NaN
23,NaN,Si,T1,1.773300,1.999700,1.894900,15.22096,-21.00101,27.98199,3.11214,NaN
24,NaN,Si,T1,1.773300,1.773600,1.894900,12.12904,-21.00101,27.98199,4.38695,NaN
25,NaN,Si,T1,1.560033,1.666967,1.771767,12.12904,-18.47531,26.16368,3.09192,NaN
26,NaN,Si,T1,1.560033,1.893067,1.771767,15.22096,-18.47531,26.16368,0.00000,NaN
27,NaN,Si,T1,1.333033,1.893067,1.771767,16.77307,-15.78698,26.16368,3.10422,NaN
28,NaN,Si,T1,1.333633,1.893367,1.561567,16.77307,-15.79408,23.05966,4.38554,NaN
29,NaN,Si,T1,1.559733,1.666367,1.561567,12.12288,-18.47176,23.05966,4.38555,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1598,NaN,Al,T1,1.333033,1.439967,0.771767,10.57693,-15.78698,11.39668,3.10422,NaN
1599,NaN,Al,T1,1.333033,1.439967,0.771767,10.57693,-15.78698,11.39668,3.10422,NaN
1600,NaN,Al,T1,1.560033,1.893067,0.771767,15.22096,-18.47531,11.39668,3.09192,NaN
1601,NaN,Al,T1,1.773300,1.773600,0.894900,12.12904,-21.00101,13.21499,3.11214,NaN
1602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1603,[2],Si,T1,1.106633,1.440267,1.561567,12.12904,-13.10574,23.05966,NaN,NaN
1604,NaN,Al,T1,1.333033,1.439967,1.771767,10.57693,-15.78698,26.16368,4.38555,NaN
1605,NaN,Al,T1,1.106933,1.666967,1.771767,15.22711,-13.10930,26.16368,4.38555,NaN
1606,NaN,Al,T1,1.106933,1.666967,1.771767,15.22711,-13.10930,26.16368,4.38555,NaN
1607,NaN,Al,T1,1.333033,1.439967,1.771767,10.57693,-15.78698,26.16368,4.38555,NaN
1608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1609,[0],Si,T1,1.226700,1.000300,1.105100,5.29154,-14.52768,16.31901,NaN,NaN
1610,NaN,Al,T1,1.226400,0.999700,0.894900,5.28539,-14.52413,13.21499,3.10403,NaN
1611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1612,[0],Si,T1,1.893367,1.333633,1.438433,5.29154,-22.42295,21.24135,NaN,NaN
1613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1614,[2],Si,T1,1.560033,1.666967,1.771767,12.12904,-18.47531,26.16368,NaN,NaN
1615,NaN,Al,T1,1.560033,1.893067,1.771767,15.22096,-18.47531,26.16368,3.09192,NaN
1616,NaN,Al,T1,1.333033,1.439967,1.771767,10.57693,-15.78698,26.16368,3.10422,NaN
1617,NaN,Al,T1,1.333033,1.439967,1.771767,10.57693,-15.78698,26.16368,3.10422,NaN
1618,NaN,Al,T1,1.560033,1.893067,1.771767,15.22096,-18.47531,26.16368,3.09192,NaN
1619,NaN,Al,T1,1.773300,1.773600,1.894900,12.12904,-21.00101,27.98199,3.11214,NaN
1620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1621,[0],Si,T1,1.226700,1.226400,1.105100,8.38346,-14.52768,16.31901,NaN,NaN
1622,NaN,Al,T1,1.226400,0.999700,0.894900,5.28539,-14.52413,13.21499,4.38555,NaN
1623,NaN,Al,T1,1.000300,1.226700,0.894900,9.93557,-11.84645,13.21499,4.38555,NaN
1624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1625,[0],Si,T1,1.893367,1.559733,1.438433,8.38346,-22.42295,21.24135,NaN,NaN
1626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1627,[0],Si,T1,0.439967,1.106933,1.228233,12.12904,-5.21048,18.13733,NaN,NaN

In [10]:
df.drop(['d', '[A]'], axis = 1, inplace = True)

In [11]:
df.head()

    CN Elmt Label         x         y         z       xor       yor       zor
0  [7]   Al    T1  1.560033  1.893067  1.771767  15.22096 -18.47531  26.16368
1  NaN   Al    T1  1.560033  1.893067  1.771767  15.22096 -18.47531  26.16368
2  NaN   Al    T1  1.560033  1.893067  1.771767  15.22096 -18.47531  26.16368
3  NaN   Al    T1  1.773300  1.773600  1.894900  12.12904 -21.00101  27.98199
4  NaN   Si    T1  1.333633  1.893367  1.561567  16.77307 -15.79408  23.05966

In [12]:
df.dropna(axis=0, how='any', inplace = True)

In [13]:
df.drop(['xor', 'yor','zor'], axis = 1, inplace=True)

In [14]:
df['Element'] = df.Elmt

In [15]:
df.drop(['CN', 'Elmt', 'Label'], axis = 1, inplace=True)

In [20]:
df[df.Element=='Si']

             x         y         z Element
558   1.666967  1.560033  1.228233      Si
560   1.439967  1.106933  1.228233      Si
562   0.333633  0.893367  0.561567      Si
568   0.226400  0.999700  0.894900      Si
573   0.893067  0.333033  0.228233      Si
575   0.559733  0.666367  0.561567      Si
581   0.226400  0.226700  0.894900      Si
587   0.893067  0.560033  0.228233      Si
589   0.559733  0.893367  0.561567      Si
593   0.773600  0.000300  0.105100      Si
595   0.440267  0.333633  0.438433      Si
597   0.106933  0.666967  0.771767      Si
602   0.773600  0.773300  0.105100      Si
604   0.440267  0.106633  0.438433      Si
606   0.106933  0.439967  0.771767      Si
613   0.773300  0.999700  0.894900      Si
619   0.439967  0.333033  0.228233      Si
621   0.106633  0.666367  0.561567      Si
625   0.773300  0.773600  0.894900      Si
630   0.439967  0.106933  0.228233      Si
632   0.106633  0.440267  0.561567      Si
638   0.226700  0.000300  0.105100      Si
640   0.893367  0.333633  0.438433      Si
642   0.560033  0.666967  0.771767      Si
649   0.226700  0.226400  0.105100      Si
651   0.893367  0.559733  0.438433      Si
653   0.560033  0.893067  0.771767      Si
658   1.999700  0.226400  0.105100      Si
660   1.666367  0.559733  0.438433      Si
662   1.333033  0.893067  0.771767      Si
...        ...       ...       ...     ...
1502  1.000300  1.773600  1.894900      Si
1508  1.666967  1.106933  1.228233      Si
1510  1.333633  1.440267  1.561567      Si
1514  1.106933  1.439967  0.771767      Si
1521  0.000300  0.226700  0.894900      Si
1526  1.333633  1.893367  1.561567      Si
1532  1.226400  1.999700  1.894900      Si
1537  1.893067  1.333033  1.228233      Si
1539  1.559733  1.666367  1.561567      Si
1545  1.226400  1.226700  1.894900      Si
1551  1.893067  1.560033  1.228233      Si
1553  1.559733  1.893367  1.561567      Si
1557  1.773600  1.000300  1.105100      Si
1561  1.440267  1.333633  1.438433      Si
1563  1.439967  1.106933  0.228233      Si
1565  1.773600  1.773300  1.105100      Si
1568  1.440267  1.106633  1.438433      Si
1570  1.106933  1.439967  1.771767      Si
1577  1.773300  1.999700  1.894900      Si
1583  0.333633  0.440267  0.561567      Si
1587  1.106633  1.666367  1.561567      Si
1591  1.773300  1.773600  1.894900      Si
1596  1.560033  1.666967  0.771767      Si
1603  1.106633  1.440267  1.561567      Si
1609  1.226700  1.000300  1.105100      Si
1612  1.893367  1.333633  1.438433      Si
1614  1.560033  1.666967  1.771767      Si
1621  1.226700  1.226400  1.105100      Si
1625  1.893367  1.559733  1.438433      Si
1627  0.439967  1.106933  1.228233      Si

[279 rows x 4 columns]

In [12]:
df.to_csv('clean_coordination.csv', index=False, columns=None, header=False)

In [22]:
df.x.describe()

count    288.000000
mean       1.000000
std        0.580397
min        0.000300
25%        0.529867
50%        1.000000
75%        1.470133
max        1.999700
Name: x, dtype: float64

In [23]:
df.y.describe()

count    288.000000
mean       1.000000
std        0.580397
min        0.000300
25%        0.529867
50%        1.000000
75%        1.470133
max        1.999700
Name: y, dtype: float64

In [24]:
df.z.describe()

count    288.000000
mean       1.000000
std        0.573591
min        0.105100
25%        0.530783
50%        1.000000
75%        1.469217
max        1.894900
Name: z, dtype: float64